/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px; /* Added margin for better spacing */
}

header {
    text-align: center;
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
}

main {
    width: 100%;
}

/* Styles for the disease information */
.disease-info {
    margin-top: 30px; /* Added margin for better spacing */
}

.disease-info h2 {
    color: #4caf50; /* Green color for headings */
    margin-bottom: 20px;
}

.disease-info p {
    color: #555;
    margin-bottom: 15px;
}

